
@model SadhinBangla.Models.ViewModels.EditBlogPostRequest

@{
}
<div class="container">
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>Edit Blog Post - Admin Functionality</h1>
        </div>
    </div>

    <div>
        <div class="container py-2">

            @if (Model != null)
            {
                <form method="post">

                    <div class="mb-3">
                        <label class="form-label">ID</label>
                        <input class="form-control" type="text" id="id" readonly asp-for="Id" />
                    </div>                  
                    <div class="mb-3">
                        <label class="form-label">Heading</label>
                        <input class="form-control" type="text" id="heading" asp-for="Heading" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input class="form-control" type="text" id="pageTitle" asp-for="PageTitle" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Content</label>
                        <textarea class="form-control" type="text" id="content" asp-for="Content"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Featured Image Upload</label>
                        <input type="file" id="featuredImageUpload" class="form-control" />
                        @if(Model.FeaturedImageUrl != null)
                        {
                            <img src="@Model.FeaturedImageUrl" id="featuredImageDisplay" style="display:block; width:300px" />
                        }
                        else
                        {
                            <img src="" id="featuredImageDisplay" style="display:none; width:300px" />
                        }

                    </div>

                    <div class="mb-3">
                        <label class="form-label">Short Description</label>
                        <input class="form-control" type="text" id="shortDescription" asp-for="ShortDescription">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Featured Image URL</label>
                        <input class="form-control" type="text" id="featuredImageURL" asp-for="FeaturedImageUrl">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">URL Handle</label>
                        <input class="form-control" type="text" id="urlHandle" asp-for="UrlHandle">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Publish Date</label>
                        <input class="form-control" type="date" id="publishedDate" asp-for="PublishDaate">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Author</label>
                        <input class="form-control" type="text" id="author" asp-for="Author">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Tags</label>
                        <select class="form-select" asp-items="@Model.Tags" asp-for="SelectedTags"></select>
                    </div>

                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="visible" asp-for="Visible">
                        <label class="form-check-label">
                            Is Visible?
                        </label>
                    </div>

                    <div class="mb-3 d-flex">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="submit" class="btn btn-danger ms-2" asp-area="" asp-controller="AdminBlogPosts" asp-action="Delete">Delete</button>
                    </div>

                </form>
            }

            else
            {
                <h3>Edit Post Not Found</h3>
            }
            

        </div>
    </div>

</div>

@section Scripts {
    <script>
        var editor = new FroalaEditor('#content', {
        imageUploadURL: '/api/images'
        });

              const feturedUploadElement = document.getElementById('featuredImageUpload');
                const featuredImageURLElement = document.getElementById('featuredImageURL');
                const featuredImageDisplayElement = document.getElementById('featuredImageDisplay');

                async function uploadFeaturedImage(e){
                    console.log(e.target.files[0]);

                    let data = new FormData();
                    data.append('file', e.target.files[0]);

                    await fetch('/api/images', {
                        method: 'POST',
                        headers: {
                            'Aceept': '*/*',
                        },
                        body: data
                    }).then(response => response.json()).then(result => {
                          featuredImageURLElement.value =  result.link;
                          featuredImageDisplayElement.src = result.link;
                          featuredImageDisplayElement.style.display = 'block';
                          console.log(result);
                    });
                }
                feturedUploadElement.addEventListener('change', uploadFeaturedImage);
        
    </script>
}
