
@model List<SadhinBangla.Models.Domain.BlogPost>

@{
}

<div class="container">
    <div class="bg-secondary bg-opacity-10 py-2">
        <div class="container">
            <h1>Total Blog List  - Admin Functionality</h1>
        </div>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Heading</td>
                    <td>Tags</td>
                </tr>
            </thead>
            <tbody>
                @foreach(var blogPost in Model)
                {
                    <tr>
                        <td>@blogPost.Id</td>
                        <td>@blogPost.Heading</td>
                        <td>
                            <div class="d-flex">
                                @foreach(var tag in blogPost.Tags)
                                {
                                    <span class="badge bg-success me-1">@tag.Name</span>
                                }

                            </div>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>

</div>