@model List<SadhinBangla.Models.Domain.Tag>
@{
}


<div class="container py-5">
    @if(Model != null && Model.Any())
    {
        <table class="table table-bordered">
            <thead class="thead-dark text-uppercase">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Display Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            @foreach (var tag in Model)
            {
                <tr>
                    <td>@tag.Id</td>
                    <td>@tag.Name</td>
                    <td>@tag.DisplayName</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="AdminTags" asp-route-id="@tag.Id" asp-action="EditTag">EDIT</a>  
                    </td>
                    
                </tr>
            }

        </table>
    }
    else
    {
        <p>Not Tag Yet.....</p>
    }

</div>